:root {
  --primary-color: #51648c;
  --secondary-color: #97a5c3;
  --light-color: #f0f7ee;
  --dark-color: #303344;
  --white: #fff;
  --body-color: #656567;
  --header-color: #474748;
  --header-font: 'Roboto Mono', sans-serif;
  --body-font: 'Open Sans', sans-serif;
  --line-height: 1.6;
  --text-decoration: none;
  --display: inline-block;
}

body {
  background-color: var(--white);
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 16px;
  color: var(--body-color);
  line-height: var(--line-height);
}

h1 {
  font-family: var(--header-font);
  font-size: 40px;
  font-weight: 700;
  color: var(--header-color);
}

h2 {
  font-family: var(--header-font);
  font-size: 32px;
  font-weight: 700;
  color: var(--header-color);
}

h3 {
  font-family: var(--header-font);
  font-size: 24px;
  font-weight: 400;
  color: var(--header-color);
}

a {
  color: var(--primary-color);
}

a:visited {
  color: var(--dark-color);
}

a:hover, a:focus {
  text-decoration: var(--text-decoration);
  color: var(--secondary-color);
}

a:active {
  color: var(--secondary-color);
}

a:link {
  text-decoration: var(--text-decoration);
}

button {
  display: var(--display);
  border: none;
  font-family: var(--body-font);
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: var(--text-decoration);
  padding: 16px;
  border-radius: 8px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  margin-top: 24px;
  margin-bottom: 24px;
  transition-duration: 0.2s;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.profile__portrait {
  float: left;
  width: 248px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__text {
  flex: 1 1 104px;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 24px;
}

.social-media {
  text-decoration: var(--text-decoration);
}

* {
  box-sizing: border-box;
}

.page-header {
  background-color: var(--white);
  display: flex;
  width: 100%;
  padding: 24px;
}

.page-header__item {
  flex: 0 1 200px;


}

.page-header .page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.main-navigation {
  list-style-type: none;
}

.main-navigation li {
  display: inline-block;
  margin-left: 16px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  margin: 16px;
  padding: 24px
}

.grid__item {
  background-color: #f0f7ee;
  width: auto;
  min-height: auto;
  margin: o;
  padding: 16px;
}

.contact-main {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  min-height: auto;
}

.contact-info {
  width: auto;
  float: left;
  margin-right: 40px;
}

.container {
  margin: 32px;
  padding: 8px;
}

.table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
}

.wrapper {
  max-width: 90%;
  margin-left: 32px;
  margin-right: auto;
}

.aboutme {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.aboutme__info {
  margin-bottom: 50px;
}

.aboutme__table {
  margin-bottom: 50px;
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #f76414;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}
