/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #656567;
    line-height: 1.6;
}

h1 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #474748;
}

h2 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #474748;
}

h3 {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #474748;
}

a {
    color: #51648c;
}

a:visited {
    color: #303344;
}

a:hover {
    text-decoration: none;
    color: #97a5c3;
}

a:focus {
    text-decoration: none;
    color: #97a5c3;
}

a:active {
    color: #97a5c3;
}

a:link {
    text-decoration: none;
}

button {
    display: inline-block;
    border: none;
    font-family: 'Open Sans', sans-serif;
    background-color: #51648c;
    color: #fff;
    text-decoration: none;
    padding: 16px;
    border-radius: 8px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    margin-top: 24px;
    margin-bottom: 24px;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    cursor: pointer;
    opacity: 0.8;
}

.profile__portrait {
    float: left;
    width: 248px;
    margin-right: 40px;
    border-radius: 50%;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

.profile__text {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 104px;
    flex: 1 1 104px;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding-bottom: 24px;
}

.social-media {
    text-decoration: none;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.page-header {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 24px;
}

.page-header__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 200px;
    flex: 0 1 200px;
}

.page-header .page-header__item:last-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
}

.main-navigation {
    list-style-type: none;
}

.main-navigation li {
    display: inline-block;
    margin-left: 16px;
}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    margin: 16px;
    padding: 24px
}

.grid__item {
    background-color: #f0f7ee;
    width: auto;
    min-height: auto;
    margin: auto;
    padding: 16px;
}

.contact-main {
    max-width: 700px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: auto;
}

.contact-info {
    width: auto;
    float: left;
    margin-right: 40px;
}

.container {
    margin: 32px;
    padding: 8px;
}

.table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
}

.wrapper {
    max-width: 90%;
    margin-left: 32px;
    margin-right: auto;
}

.aboutme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    margin-bottom: 32px;
}

.aboutme__info {
    margin-bottom: 50px;
}

.aboutme__table {
    margin-bottom: 50px;
}

.sun {
    -webkit-animation: 4s color-change infinite alternate linear;
    animation: 4s color-change infinite alternate linear;
}

.cloud-front {
    -webkit-animation: 30s cloud-move infinite alternate linear;
    animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
    animation: 34s cloud-move-reverse infinite alternate linear;
}

@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        -ms-grid-columns: 1fr 24px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}

@-webkit-keyframes color-change {
    0% {
        fill: #edc655;
    }
    50% {
        fill: #f76414;
    }
    100% {
        fill: #f76414;
    }
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }
    50% {
        fill: #f76414;
    }
    100% {
        fill: #f76414;
    }
}

@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
        transform: translate(200px, 50px);
    }
}

@keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px);
    }
    to {
        -webkit-transform: translate(200px, 50px);
        transform: translate(200px, 50px);
    }
}

@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
        transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
        transform: translate(100px, 48px);
    }
}

@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
        transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
        transform: translate(100px, 48px);
    }
}